[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dynsbm"]
	path = dynsbm
	url = https://github.com/cran/dynsbm
	shallow = true
	registered = true
[submodule "econetwork"]
	path = econetwork
	url = https://github.com/cran/econetwork
	shallow = true
	registered = true
